$box-size: 50px;
$text-color: rgb(121, 121, 121);
$hover-color: rgba(121, 121, 121, 0.6);
body {
  padding: 90px 15px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: $text-color;
  text-align: center;
}

a {
  color: #00B7FF;
}

button {
  font-size: 26px;
  background-color: transparent;
  border: none;
  padding: 10px;
  outline: none;
  &.btn {
    text-transform: uppercase;
    border: $text-color 5px solid;
    border-radius: 0;
    height: $box-size;
    &.disabled {
      background-color: $text-color;
      color: #000;
    }
    &.clicked {
      background-color: $text-color;
    }
    &:hover {
      color: $text-color;
    }
    &:focus {
      outline: none!important;
    }
  }
}

input[type=checkbox] {
  margin: 15px 10px 0 0;
}

input[type=text] {
  padding: 0;
  width: 180px;
  height: 64px;
  margin-right: 20px;
  background: transparent;
  color: $text-color;
  font-size: 26px;
  font-style: italic;
  font-weight: 300;
  border: none;
  border-bottom: 2px $text-color solid;
  outline: none
}

p {
  text-align: left;
  max-width: 600px;
  margin: 40px auto;
}

.error {
  color: #a94442;
  display: block;
  margin-bottom: 10px;
}

#game-screen {
  .remaining-time {
    margin-bottom: 20px;
  }
  .box {
    border: $text-color 6px solid;
    width: $box-size;
    height: $box-size;
    display: inline-block;
    &.transparent {
      background: transparent !important;
    }
  }
  .game-board {
    button {
      width: 100%;
      height: 100%;
      &.disabled {
        cursor: default;
      }
    }
    ul.dropdown-menu {
      min-width: $box-size;
      background: transparent;
      border: none;
      left: -2px;
      text-align: center;
      li {
        a {
          width: 40px;
          height: 40px;
          &:hover, &:focus {
            outline: none;
            background: $hover-color none;
          }
        }
      }
    }
  }
  .own-game {
    margin-top: 20px;
    border-top: 5px $text-color solid;
    padding-top: 20px;
  }
  .name-box {
    text-align: right;
    height: $box-size;
    .name {
      white-space: nowrap;
      font-size: 18px;
      position: relative;
      top: 20px;
    }
  }
  .player-data {
    margin-bottom: 10px;
  }
  .initial-countdown {
    float: left;
    font-size: 18px;
    margin-top: 16px;
  }
}

.game-over-content {
  margin-top: 40px;
  font-size: 26px;
  th {
    font-weight: 300;
    text-align: center;
  }
  td {
    font-weight: 300;
    &.name, &.round, &.total {
      border: 5px $text-color solid;
      float: none;
      margin: auto;
    }
  }
}
