body {
  padding: 90px 15px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: #797979;
  text-align: center; }

a {
  color: #00B7FF; }

button {
  font-size: 26px;
  background-color: transparent;
  border: none;
  padding: 10px;
  outline: none; }
  button.btn {
    text-transform: uppercase;
    border: #797979 5px solid;
    border-radius: 0;
    height: 50px; }
    button.btn.disabled {
      background-color: #797979;
      color: #000000; }
    button.btn:focus {
      color: #797979;
      outline: none; }

input {
  padding: 0;
  width: 180px;
  height: 64px;
  margin-right: 20px;
  background: transparent;
  color: #797979;
  font-size: 26px;
  font-style: italic;
  font-weight: 300;
  border: none;
  border-bottom: 2px #797979 solid;
  outline: none; }

.error {
  color: #a94442;
  display: block;
  margin-bottom: 10px; }

#game-screen .remaining-time {
  margin-bottom: 20px; }
#game-screen .box {
  border: #797979 6px solid;
  width: 50px;
  height: 50px;
  display: inline-block; }
  #game-screen .box.transparent {
    background: transparent; }
#game-screen .game-board button {
  width: 100%;
  height: 100%; }
#game-screen .game-board ul.dropdown-menu {
  min-width: 50px;
  background: transparent;
  border: none;
  left: -2px;
  text-align: center; }
  #game-screen .game-board ul.dropdown-menu li a {
    width: 40px;
    height: 40px; }
    #game-screen .game-board ul.dropdown-menu li a:hover, #game-screen .game-board ul.dropdown-menu li a:focus {
      outline: none;
      background: rgba(121, 121, 121, 0.6) none; }
#game-screen .own-game {
  margin-top: 20px;
  border-top: 5px #797979 solid;
  padding-top: 20px; }
#game-screen .name-box {
  text-align: right;
  height: 50px; }
  #game-screen .name-box .name {
    white-space: nowrap;
    font-size: 18px;
    position: relative;
    top: 20px; }
#game-screen .updated {
  background-color: #ffb615; }
#game-screen .player-data {
  margin-bottom: 10px; }
#game-screen [data-background="0"] {
  background-color: #050; }
#game-screen [data-background="1"] {
  background-color: #FF0; }
#game-screen [data-background="2"] {
  background-color: #5BF; }
#game-screen [data-background="3"] {
  background-color: #F58; }
#game-screen [data-background="4"] {
  background-color: #5B0; }
#game-screen [data-background="5"] {
  background-color: #5B8; }
#game-screen [data-background="6"] {
  background-color: #558; }
#game-screen [data-background="7"] {
  background-color: #B50; }
#game-screen [data-background="8"] {
  background-color: #B58; }
#game-screen [data-background="9"] {
  background-color: #B5F; }
#game-screen [data-background="10"] {
  background-color: #BB0; }
#game-screen [data-background="11"] {
  background-color: #BB8; }
#game-screen [data-background="12"] {
  background-color: #BBF; }
#game-screen [data-background="13"] {
  background-color: #BF0; }
#game-screen [data-background="14"] {
  background-color: #BF8; }
#game-screen [data-background="15"] {
  background-color: #BFF; }
#game-screen [data-background="16"] {
  background-color: #FBF; }
#game-screen [data-background="17"] {
  background-color: #FF8; }
#game-screen [data-background="18"] {
  background-color: #F5F; }
#game-screen [data-background="19"] {
  background-color: #FB0; }
#game-screen [data-background="20"] {
  background-color: #FB8; }
#game-screen [data-background="21"] {
  background-color: #550; }
#game-screen [data-background="22"] {
  background-color: #F50; }
#game-screen [data-background="23"] {
  background-color: #55F; }
#game-screen [data-background="24"] {
  background-color: #FFF; }

.game-over-content {
  margin-top: 40px;
  font-size: 26px; }
  .game-over-content th {
    font-weight: 300;
    text-align: center; }
  .game-over-content td {
    font-weight: 300; }
    .game-over-content td.name, .game-over-content td.round, .game-over-content td.total {
      border: 5px #797979 solid;
      float: none;
      margin: auto; }

/*# sourceMappingURL=styles.css.map */
