$box-size: 50px;
$text-color: rgb(121, 121, 121);
$hover-color: rgba(121, 121, 121, 0.6);
body {
  padding: 90px 15px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: $text-color;
  text-align: center;
}

a {
  color: #00B7FF;
}

button {
  font-size: 26px;
  background-color: transparent;
  border: none;
  padding: 10px;
  outline: none;
  &.btn {
    text-transform: uppercase;
    border: $text-color 5px solid;
    border-radius: 0;
    height: $box-size;
    &.disabled {
      background-color: $text-color;
      color: #000000;
    }
    &:focus {
      color: $text-color;
      outline: none;
    }
  }
}

input {
  padding: 0;
  width: 180px;
  height: 64px;
  margin-right: 20px;
  background: transparent;
  color: $text-color;
  font-size: 26px;
  font-style: italic;
  font-weight: 300;
  border: none;
  border-bottom: 2px $text-color solid;
  outline: none
}

.error {
  color: #a94442;
  display: block;
  margin-bottom: 10px;
}

#game-screen {
  .remaining-time {
    margin-bottom: 20px;
  }
  .box {
    border: $text-color 6px solid;
    width: $box-size;
    height: $box-size;
    display: inline-block;
    &.transparent {
      background: transparent;
    }
  }
  .game-board {
    button {
      width: 100%;
      height: 100%;
    }
    ul.dropdown-menu {
      min-width: $box-size;
      background: transparent;
      border: none;
      left: -2px;
      text-align: center;
      li {
        a {
          width: 40px;
          height: 40px;
          &:hover, &:focus {
            outline: none;
            background: $hover-color none;
          }
        }
      }
    }
  }
  .own-game {
    margin-top: 20px;
    border-top: 5px $text-color solid;
    padding-top: 20px;
  }
  .name-box {
    text-align: right;
    height: $box-size;
    .name {
      white-space: nowrap;
      font-size: 18px;
      position: relative;
      top: 20px;
    }
  }
  .updated {
    background-color: #ffb615;
  }
  .player-data {
    margin-bottom: 10px;
  }
  [data-background="0"] { background-color: #050; }
  [data-background="1"] { background-color: #FF0; }
  [data-background="2"] { background-color: #5BF; }
  [data-background="3"] { background-color: #F58; }
  [data-background="4"] { background-color: #5B0; }
  [data-background="5"] { background-color: #5B8; }
  [data-background="6"] { background-color: #558; }
  [data-background="7"] { background-color: #B50; }
  [data-background="8"] { background-color: #B58; }
  [data-background="9"] { background-color: #B5F; }
  [data-background="10"] { background-color: #BB0; }
  [data-background="11"] { background-color: #BB8; }
  [data-background="12"] { background-color: #BBF; }
  [data-background="13"] { background-color: #BF0; }
  [data-background="14"] { background-color: #BF8; }
  [data-background="15"] { background-color: #BFF; }
  [data-background="16"] { background-color: #FBF; }
  [data-background="17"] { background-color: #FF8; }
  [data-background="18"] { background-color: #F5F; }
  [data-background="19"] { background-color: #FB0; }
  [data-background="20"] { background-color: #FB8; }
  [data-background="21"] { background-color: #550; }
  [data-background="22"] { background-color: #F50; }
  [data-background="23"] { background-color: #55F; }
  [data-background="24"] { background-color: #FFF; }
}

.game-over-content {
  margin-top: 40px;
  font-size: 26px;
  th {
    font-weight: 300;
    text-align: center;
  }
  td {
    font-weight: 300;
    &.name, &.round, &.total {
      border: 5px $text-color solid;
      float: none;
      margin: auto;
    }
  }
}
