.gamelayer {
    width:640px;
    height:480px;
    position:absolute;
}

#nav li span {
    font-size: 36px;
}

canvas {
    background: url(../images/Grid.jpg);
    height: 480px;
    width: 480px;
    position: relative;
    margin: auto;
    display: block;
}

#settings {
    float: right;
    padding: 20px;
}

#loading-screen {
    width: inherit;
    height: inherit;
    position: relative;
}

div.message {
    position: absolute;
    color: purple;
    bottom: 10px;
    font-size: 24px;
    margin-left: 250px;
    text-align: center;
}

div.turno {
    float: right;
    margin-top: -420px;
    color: cadetblue;
    font-size: 24px;
    text-align: right;
}

label {
    color: deepskyblue;
}

.play-button {
    cursor: pointer;
}
