$box-size: 70px;
$font-size: 64px;
$text-color: rgb(121, 121, 121);
body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: $text-color;
}

a {
  color: #00B7FF;
}

.main {
  padding: 40px 15px;
  text-align: center;
}
.gamelayer {
  width:640px;
  height:480px;
  position:absolute;
}

#nav li span {
  font-size: 36px;
}

#settings {
  float: right;
  padding: 20px;
}

#loading-screen {
  width: inherit;
  height: inherit;
  position: relative;
}

div.message {
  position: absolute;
  color: purple;
  bottom: 10px;
  font-size: 24px;
  margin-left: 250px;
  text-align: center;
}

label {
  color: deepskyblue;
}

.play-button {
  cursor: pointer;
}

#game-board {
  td {
    font-size: $font-size;
    font-family: 'Roboto';
    border: $text-color 5px solid;
    width: $box-size;
    height: $box-size;
  }
}
