<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>TFM</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/roboto.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" media="screen" charset="utf-8">
    <script src="javascripts/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/sockets.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/constants.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/game.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/gameOver.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/loading.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/waitingRoom.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/welcome.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="container">
    <div class="main">
        <!-- Loading screen -->
        <div id="loading-screen" class="screen">
            <h1>Loading...</h1>
        </div>
        <!-- Welcome screen -->
        <div id="welcome-screen" class="screen hidden">
            <h1>Welcome</h1>
            <p class="lead">Press the button to enter the game room</p>
            <button id="play-button">Play</button>
        </div>
        <!-- Waiting room screen -->
        <div id="waiting-room-screen" class="screen hidden">
            <h1>Waiting room</h1>
            <p class="lead">
                There are <span id="connected-users"></span> players connected.<br>
                <span id="insufficient-users">
                    When <span id="min-users"></span> players connect the game will start automatically.
                </span>
                <span id="excessive-users" style="display: none;">
                    The room is limited to a maximum of <span id="max-users"></span> players, so you cannot access it at the moment.
                </span><br>
                <span>Time remaining for next game: <span id="remaining-time"></span> seconds</span>
            </p>
        </div>
        <!-- Game screen -->
        <div id="game-screen" class="screen hidden">
            Remaining time: <span id="game-time"></span> seconds
            <table>
                <tbody>
                <tr id="game-board"></tr>
                </tbody>
            </table>
            <button id="test-btn">Test logout</button>
        </div>
        <!-- Game over screen -->
        <div id="ending-screen" class="screen hidden">
            <div class="message">
                <h4>
                    Game over<br>
                    <span>Time remaining for next game: <span id="waiting-time"></span> seconds</span>
                </h4>
                <button id="logout">Disconnect</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>