<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>TFM</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/roboto.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" charset="utf-8">
    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/constants.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/sockets.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/classes/game.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/classes/gameOver.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/classes/loading.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/classes/waitingRoom.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/classes/welcome.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="col-xs-12">
    <!-- Loading screen -->
    <div id="loading-screen" class="screen">
        <h1>Loading...</h1>
    </div>
    <!-- Welcome screen -->
    <div id="welcome-screen" class="screen hidden">
        <h1>Welcome</h1>
        <label for="username" class="lead">Insert your name to start the game:</label>
        <br>
        <span id="invalid-login" class="error hidden">That username is already in use<br></span>
        <input id="username" type="text" maxlength="12">
        <button id="play-button" class="default-button">Play</button>
    </div>
    <!-- Waiting room screen -->
    <div id="waiting-room-screen" class="screen hidden">
        <h1>Waiting room</h1>
        <p class="lead">
            <span id="correct-users">There are <span id="connected-users"></span> players connected.<br></span>
            <span id="insufficient-users">
                When <span id="min-users"></span> players connect the game will start automatically.
            </span>
            <span id="excessive-users" style="display: none;">
                The room is limited to a maximum of <span id="max-users"></span> players, so you cannot access it at the moment.
            </span><br>
            <span>Time remaining for next game: <span id="remaining-time"></span> seconds</span>
        </p>
    </div>
    <!-- Game screen -->
    <div id="game-screen" class="screen hidden">
        <div class="remaining-time">Remaining time: <span id="game-time"></span> seconds</div>
        <div id="other-players-container"></div>
        <div id="own-game-container"></div>
    </div>
    <!-- Game over screen -->
    <div id="ending-screen" class="screen hidden">
        <div class="col-xs-12">
            <div class="col-xs-9">
                <h4>
                    Game over<br>
                    <span id="game-over-waiting-time">
                        Time remaining for next game: <span id="waiting-time"></span> seconds
                    </span>
                </h4>
            </div>
            <div class="col-xs-3">
                <button id="logout" class="default-button">Disconnect</button>
            </div>
        </div>
        <div class="game-over-content col-xs-12">
            <div id="processing-scores">Processing scores...</div>
            <div id="final-scores"></div>
        </div>
    </div>
</div>
<!-- Templates -->
<div class="hidden">
    <!-- Template for the current player's board -->
    <div id="board-template">
        <div class="col-xs-12 own-game">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="game-board">
                    <div class="dropdown box">
                        <button class="game-button dropdown-toggle" data-position="" data-toggle="dropdown"
                                data-background="" type="button"></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-option">
                                <a href="#" class="choice" data-position="" data-background=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <button class="default-button" id="submit-move">Submit</button>
            </div>
        </div>
    </div>
    <!-- Template for the other players' boards -->
    <div id="other-boards-template">
        <div class="col-xs-12 other-players-game">
            <div class="other-players">
                <div class="col-xs-2">
                    <span class="name"></span>
                </div>
                <div class="col-xs-8">
                    <div class="player-data" data-player="">
                        <div class="box" data-position="" data-background=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Template for the final scores -->
    <div id="final-scores-template">
        <table class="final-scores col-xs-9">
            <tbody>
                <tr class="player-score">
                    <td class="position col-xs-2"></td>
                    <td class="name col-xs-6"></td>
                    <td class="score col-xs-4"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>