<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>TFM</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/estilos.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" charset="utf-8">
    <script src="javascripts/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/sockets.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/constants.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/game.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/gameOver.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/loading.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/waitingRoom.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/classes/welcome.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="container">
    <div class="main">
        <div id="loading-screen">
            <div class="message">Loading...</div>
        </div>

        <div id="welcome-screen" style="display: none;">
            <h1>Welcome</h1>
            <p class="lead">Press the button to enter the game room</p>
            <button id="play-button" class="btn btn-default btn-lg">Play</button>
        </div>

        <div id="waiting-room-screen" style="display: none;">
            <h1>Waiting room</h1>
            <p class="lead">
                There are <span id="connected-users"></span> players connected.<br>
                <span id="insufficient-users">
                    When <span id="min-users"></span> players connect the game will start automatically.
                </span>
                <span id="excessive-users" style="display: none;">
                    The room is limited to a maximum of <span id="max-users"></span> players, so you cannot access it at the moment.
                </span>
            </p>
        </div>
    </div>
</div>
<div class="main">
    <div id="game-screen" style="display: none;">
        <canvas id="game-canvas" width="640" height="480"></canvas>
        <div class="turno">
            Eres el jugador <span id="player-id">1</span><br>
            <span id="player-turn">1</span>
        </div>
    </div>

    <div id="ending-screen" class="gamelayer" style="display: none;">
        <div class="message">
            <h4>
                Partida terminada<br>
                <span id="winner-name"></span>
            </h4>
            <span class="play-button">Volver a jugar</span>
        </div>
    </div>
    <div style="display: none;">
        <img id="avatar1" src="images/player1.png">
        <img id="avatar2" src="images/player2.png">
    </div>
</div>
</body>
</html>